*{
    margin: 0;
    padding:0;
}
body,html{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.message{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    width: 800px;
    
}
.butt{
    font-size: 1.5rem;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 5px;
    margin: 10px;
}
.person{
    width: 100px;
    height: 100px;
}
.text{
    font-size: 1.5rem;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid grey;
    background-color: rgb(67, 66, 66);
    color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;
    word-wrap: break-word;
}
.container{
    display: flex;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}
.big_box{
    width: 900px;
    height: 700px;
}
.robo{
    width: 100px;
    height: 100px;
}
.container_robo{
    display: flex;
    height: fit-content;
    justify-content: flex-start;
    margin-top: 3%;
    margin-bottom: 3%;
}
.chat-container{
    position: fixed;
    bottom: 30px;
}
.empty{
    height: 100px;
}